<h2>My Maps</h2>
<div class="topcontainer">
  <div class="container">
    <div>
      <ul class="maps">
        <li *ngFor="let map of maps"
            [class.selected]="map === selectedMap"
            (click)="onSelect(map)">
          <span class="badge">{{map.id}}</span> {{map.name}}
        </li>
      </ul>
    </div>

    <div *ngIf="selectedMap">
      <img src="assets/{{selectedMap.getFullPathImage()}}" alt="assets/{{selectedMap.getFullPathImage()}}">
    </div>
  </div>

  <app-map-detail [map]="selectedMap"></app-map-detail>

</div>
